node-red_flow_battery_tender_tasmota.json
[{"id":"b7827813.74dab8","type":"mqtt in","z":"85e4e93e.28c78","name":"","topic":"BNLink_ETL_BF1B/tele/SENSOR","qos":"2","datatype":"auto","broker":"6015aa1f.f4c1fc","x":158,"y":600,"wires":[["ed3d877b.533a98"]]},{"id":"ed3d877b.533a98","type":"json","z":"85e4e93e.28c78","name":"","property":"payload","action":"","pretty":false,"x":318,"y":660,"wires":[["af2faa44.7a3b4","4bd39890.cb1228"]]},{"id":"af2faa44.7a3b4","type":"change","z":"85e4e93e.28c78","name":"payload.ENERGY.Power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ENERGY.Power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":519,"y":620,"wires":[["ad08da3.6a660a8"]]},{"id":"ad08da3.6a660a8","type":"mqtt out","z":"85e4e93e.28c78","name":"","topic":"/sensor/float/tasmota/BF1B/watts","qos":"","retain":"","broker":"6015aa1f.f4c1fc","x":828,"y":580,"wires":[]},{"id":"4bd39890.cb1228","type":"change","z":"85e4e93e.28c78","name":"payload.ENERGY.Current","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ENERGY.Current","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"sensor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":519,"y":660,"wires":[["e3256294.cbfa2","ba84690f.19545"]]},{"id":"e3256294.cbfa2","type":"mqtt out","z":"85e4e93e.28c78","name":"","topic":"/sensor/float/tasmota/BF1B/amps","qos":"","retain":"","broker":"6015aa1f.f4c1fc","x":829,"y":640,"wires":[]},{"id":"d94245b5.25f33","type":"inject","z":"85e4e93e.28c78","name":"Every X hours","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"18000","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":428,"y":860,"wires":[["f90c6f7e.52ab9"]]},{"id":"6b99631c.5c2e64","type":"mqtt in","z":"85e4e93e.28c78","name":"","topic":"/ui/tasmota/BF1B/oneshot","qos":"2","datatype":"auto","broker":"6015aa1f.f4c1fc","x":438,"y":900,"wires":[["f90c6f7e.52ab9"]]},{"id":"f90c6f7e.52ab9","type":"change","z":"85e4e93e.28c78","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":618,"y":860,"wires":[["b42f43af.45972","4cfbcffd.802b1"]]},{"id":"b42f43af.45972","type":"mqtt out","z":"85e4e93e.28c78","name":"","topic":"BNLink_ETL_BF1B/cmnd/POWER","qos":"","retain":"","broker":"6015aa1f.f4c1fc","x":1248,"y":860,"wires":[]},{"id":"ba84690f.19545","type":"moving-average","z":"85e4e93e.28c78","name":"Moving Ave","amount":"5","weight":"cumulative","x":778,"y":700,"wires":[["73c0cf72.94fbe8"]]},{"id":"e91306e2.47a638","type":"comment","z":"85e4e93e.28c78","name":"Read in Tasmota power","info":"Tasmota power consumption comes in as MQTT messages with JSON payload.  Split up the JSON to get at the current (amps) and power (watts) values.\n\n{\"Time\":\"2021-05-08T06:22:53\",\"ENERGY\":{\"TotalStartTime\":\"2019-09-30T03:45:41\",\"Total\":57.957,\"Yesterday\":0.000,\"Today\":0.000,\"Period\":0,\"Power\":3,\"ApparentPower\":5,\"ReactivePower\":4,\"Factor\":0.59,\"Voltage\":123,\"Current\":0.037}}\n\n\n\n\n","x":508,"y":580,"wires":[]},{"id":"60fb7132.77a01","type":"comment","z":"85e4e93e.28c78","name":"ENTER >> Power On Test Frequency","info":"Enter how X hours in between power on tests.\n\nEvery X hours, turn on outlet and makes a few current consumption readings.\n\n\nIf power consumption falls below threshold current value (indicating battery is pretty much charged), turn it back off.","x":158,"y":860,"wires":[]},{"id":"4cfbcffd.802b1","type":"change","z":"85e4e93e.28c78","name":"Clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"clear","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"sensor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":438,"y":740,"wires":[["ba84690f.19545"]]},{"id":"39c92777.53691","type":"inject","z":"85e4e93e.28c78","name":"Every X minutes, evaluate current","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"sensor","payload":"count","payloadType":"str","x":688,"y":780,"wires":[["afe4d8bc.f2bfb8"]]},{"id":"ed5554d1.cefbd","type":"function","z":"85e4e93e.28c78","name":"Ini","func":"//ENTER >> Set the current threshold (amps) for turning off outlet\nflow.set('tasmota_BF1B_threshold',0.034);\n\n//other init values\nflow.set('tasmota_BF1B_current',99.9);\nflow.set('tasmota_BF1B_state','ON');\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":298,"y":520,"wires":[[]]},{"id":"af0be0c8.19f008","type":"inject","z":"85e4e93e.28c78","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":98,"y":520,"wires":[["ed5554d1.cefbd"]]},{"id":"73c0cf72.94fbe8","type":"function","z":"85e4e93e.28c78","name":"Turn Off Outlet Threshold","func":"//payload_in can be confusing\n//payload_in == count when we're just requesting the moving_ave counter\n//payload_in == clear when we turn on the outlet via timer\n//payload_in == some number if it's a sensor value\n\nif (msg.payload_in == \"count\")\n{\n    //check if we should turn off outlet\n    var count = msg.payload;\n    if (count >= 4)\n    {\n        var threshold = flow.get('tasmota_BF1B_threshold');\n        var current = flow.get('tasmota_BF1B_current');\n        //node.warn(\"current=\"+current+ \"   threshold=\"+threshold);\n        if (current < threshold)\n        {\n            //turn off outlet\n            return msg;   \n        }\n        else\n            //node.warn(\"keep power on\");\n            return null;\n    }\n    else\n        return null;\n    \n}\nelse if (msg.payload_in == 'clear')\n{\n    //don't do anything if it was just turned on\n    return null;\n}\nelse\n{\n    //last remaining option for payload_in is sensor value\n    //save moving average\n    //node.warn(\"sensor update current=\"+msg.payload);\n    flow.set('tasmota_BF1B_current',msg.payload);\n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":998,"y":700,"wires":[["3827163c.426a2a"]]},{"id":"831bc180.34af2","type":"comment","z":"85e4e93e.28c78","name":"Save reading to Influx via MQTT","info":"","x":818,"y":540,"wires":[]},{"id":"afe4d8bc.f2bfb8","type":"function","z":"85e4e93e.28c78","name":"Only count if outlet On","func":"if (flow.get('tasmota_BF1B_state') == \"ON\")\n{\n    msg.topic=\"sensor\";\n    msg.payload=\"count\";\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":968,"y":780,"wires":[["ba84690f.19545"]]},{"id":"3ff68c54.9f62dc","type":"mqtt in","z":"85e4e93e.28c78","name":"","topic":"BNLink_ETL_BF1B/stat/POWER","qos":"2","datatype":"auto","broker":"6015aa1f.f4c1fc","x":158,"y":740,"wires":[["80b6548e.bdc288"]]},{"id":"80b6548e.bdc288","type":"function","z":"85e4e93e.28c78","name":"save power state","func":"flow.set('tasmota_BF1B_state', msg.payload);\nif (msg.payload == \"ON\")\n{\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":298,"y":820,"wires":[["4cfbcffd.802b1"]]},{"id":"3827163c.426a2a","type":"change","z":"85e4e93e.28c78","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":" OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1178,"y":700,"wires":[["b42f43af.45972"]]},{"id":"fcea2e64.f93ad8","type":"comment","z":"85e4e93e.28c78","name":"ENTER >> Current Threshold","info":"Set the current below which to turn off outlet.\n\nThis current corellated with the desired battery charge %","x":488,"y":520,"wires":[]},{"id":"4579caff.0cdbd4","type":"comment","z":"85e4e93e.28c78","name":"Manual Power On","info":"Use this MQTT topic to manually power on outlet.  Could be a button from Home Assistant UI.","x":88,"y":900,"wires":[]},{"id":"5320a9d5.62912","type":"comment","z":"85e4e93e.28c78","name":"Turn on/off Tasmota outlet","info":"Turns outlet on/off via MQTT","x":1278,"y":820,"wires":[]},{"id":"6015aa1f.f4c1fc","type":"mqtt-broker","z":"","name":"2.90 Main MQTT Pi","broker":"192.168.2.90","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]